<% provide :title, 'Contact' %>
<div class="row">
	<div class="static-pages col-md-6 col-md-offset-3">
		<h2 class="text-center">Contact us</h2>
		<%= image_tag('android.svg', alt: 'Android Logo') %>
		<p style="margin-top: 30px;">
			Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, <a href="#">username@example.com</a> formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
		</p>
	</div>
</div>
