<% provide :title, 'Contact' %>
<div class="row">
	<div class="static-pages contact-page col-md-6 col-md-offset-3">
		<h2 class="text-center">Contact me</h2>
		<p>
			Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, <a href="#">username@example.com</a> formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
		</p>
	</div>
</div>
