<div id="failed-comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center text-warning">Comment discarded</div>
            <div class="modal-body">
                Something probably went wrong. Maybe the content of your comment is empty.
            </div>
        </div>
    </div>
</div>

<div id="deleted-comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center text-warning">Comment destroyed</div>
            <div class="modal-body">Your comment was deleted.</div>
        </div>
    </div>
</div>