<div id="failed-comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h4 class="text-warning">Comment discarded :(</h4></div>
            <div class="modal-body">
                <p>Something probably went wrong (maybe the content of your comment is empty). Your comment was discarded.</p>
            </div>
        </div>
    </div>
</div>

<div id="deleted-comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h4 class="text-warning">Comment destroyed</h4></div>
            <div class="modal-body">
                <p>Congratulations. Your comment was deleted.</p>
            </div>
        </div>
    </div>
</div>