<%= form_for Comment.new do |f| %>
    <div class="form-group">
        <%= f.hidden_field :article_id, value: article_id %>
        <%= f.text_area :body, class: 'form-control', rows: 4, placeholder: 'leave your comment here' %>
    </div>
<% end %>

<script>
    $(document).ready(function() {
        $('#new_comment').on('keydown', function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                $(this).submit();
            }
        });
    });
</script>