<% content_for :title, 'Update article' %>
<% content_for :article_form_button, 'Update your article' %>
<h2 class="section-title"><span class="section-division">+</span>Update your article</h2>
<%= render 'article_form' %>
