<% content_for :title, 'Create Article' %>
<% content_for :article_form_button, 'Create article' %>
<h2 class="section-title"><span class="section-division">+</span>Create new article</h2>
<%= render 'article_form' %>