<div class="alert alert-warning hidden" id="search-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    Search keyword cannot be blank!
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_tag(search_path, {method: 'get', id: 'search-form'}) do %>
            <%= text_field_tag :keyword, nil, {class: 'form-control input-lg', id: 'keyword', placeholder: 'searching for articles'} %>
        <% end %>
    </div>
</div>
