<%= user_gravatar(user, size: 120) %>
<h4><%= link_to user.name, user %></h4>
<h5><%= user.email %></h5>
<% if current_session_user.admin? && !current_user?(user) && !user.admin? %>
    <%= link_to 'Delete', user, method: :delete, class: 'btn btn-danger btn-sm',
            data: { confirm: 'Do you really want to delete this user?' } %>
<% end %>