<% provide :title, @user.name + ' - Articles' %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading" style="color: #ffffff">Articles of <%= @user.name %></h4>
                </a>
                <% @articles.each do |article| %>
                    <%= link_to article.title, article, class: 'list-group-item' %>
                <% end %>
            </div>
        </div>
    </div>
</div>