<% content_for :title, 'Update profile' %>
<% content_for :user_button_title, 'Update Profile' %>
<h2 class="section-title"><span class="section-division">+</span>Update your current profile</h2>
<%= render 'user_form' %>
