<% content_for :title, 'Users' %>
<h2 class="section-title"><span class="section-division">+</span>Find your friends and connect to them</h2>
<div class="users-list">
    <div class="text-center"><%= will_paginate @users, previous_label: '&laquo;', next_label: '&raquo;' %></div>
    <% @users.in_groups_of(4, false).each do |users| %>
        <div class="row">
            <% users.each do |user| %>
                <div class="col-md-3 user-block">
                    <%= render user %>
                </div>
            <% end %>
        </div>
    <% end %>
    <div class="text-center"><%= will_paginate @users, previous_label: '&laquo;', next_label: '&raquo;' %></div>
</div>