.posts-wrapper {
    .media {
        margin-bottom: 25px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        overflow: visible;

        .media-body {
            overflow: visible;

            .media-heading {
                span {
                    font-size: 14px;
                }
            }

            .post-timer {
                font-size: 13px;

                span {
                    font-size: 12px;
                    padding-right: 5px;
                }
            }

            .post-content {
                color: #8C989E;
                line-height: 1.8;

                img {
                    width: 100%;
                    margin: 10px auto;
                }
            }

            .dropdown-toggle {
                font-size: 10px;
            }

            .btn-group.open .dropdown-toggle {
                box-shadow: none;
            }

            .dropdown-menu {
                margin-top: 0;
                box-shadow: none;

                li {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.article-wrapper {
    .panel {
        box-shadow: none;
        border-radius: 0;

        .panel-heading {
            border-radius: 0;

            h1 {
                color: #E74C3C;
                font-weight: bold;
                margin: 0;
            }
        }

        .panel-body {
            img[style] {
                width: 100% !important;
                margin: 20px auto;
            }

            img {
                width: 100%;
                margin: 20px auto;
            }
        }

        .panel-footer {
            border-radius: 0;

            .dropdown-menu {
                a {
                    font-size: 16px;

                    span {
                        padding-right: 8px;
                    }
                }
            }
        }
    }
}

.article-title {
    color: #111111;
    font-weight: bold;

    &:hover {
        color: #4472B9;
    }
}

.article-author {
    color: #111111;
    font-size: 16px;

    &:hover {
        color: #4472B9;
    }
}

.article-tags {
    margin: 10px 0;

    .glyphicon {
        padding-right: 10px;
    }

    .breadcrumb {
        padding: 0;
        border-radius: 0;
        background: transparent;
        margin-bottom: 0;

        li:nth-child(2)::before {
            content: '';
            padding: 0;
        }
    }
}

.article-form {
    button[type=submit] {
        width: 100%;
        border-radius: 3px;
    }

    .note-editor {
        border: 1px solid #dbd9d9;
        border-radius: 3px;

        .note-toolbar {
            background-color: #dbd9d9;
            border-bottom: none;
        }

        .note-editable {
            border-radius: 3px;
            background-color: #ffffff;
        }

        .btn-toolbar {
            margin-left: 0;
        }
    }
}
