.comment-create-form {
    textarea {
        resize: none;
        padding: 0;
    }

    .form-group {
        margin-bottom: 0;

        .form-control {
            border: none;
        }
    }
}

.comment-stats {
    .label {
        display: inline-block;
        font-weight: normal;
        font-size: 14px;
    }
}

.comments {

    .media {
        background-color: #f9f9fa;
        padding: 10px 15px;
        text-align: left;
        overflow: visible;

        .media-left {
            .comment_user_avatar {
                img {
                    border-radius: 50%;
                }
            }
        }

        .media-body {
            overflow: visible;

            .media-heading a {
                color: #111111;
            }

            p {
                color: #747c83;
                font-size: 16px;
            }

            .dropdown-toggle {
                font-size: 10px;
            }

            .dropdown-menu {
                margin-top: 0;
                box-shadow: none;

                li {
                    margin-bottom: 0;
                }
            }
        }
    }
}
