@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";

body {
    font-family: "source-sans-pro", sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: #eaedef;
    color: #525252;
    padding-top: 60px;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

a {
    @include transition(all .2s ease);

    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.form-link {
    a {
        color: #5fcf80;
    }
}

input[type=file] {
    font-size: 15px;
    color: #8c989e;
}


/* Twitter Bootstrap customizations */
.form-group {
    label {
        color: #222222;
        font-weight: normal;
    }

    .field_with_errors .form-control {
        border-color: #a94442;
    }

    .form-control {
        color: #384047;
        font-size: 16px;
        border: 1px solid #dbd9d9;
        border-radius: 3px;
        box-shadow: none;
    }

    .help-block {
        font-size: 12px;
    }
}

.alert {
    width: 75%;
    margin: auto auto 25px;
    border-radius: 0;
    border: none;
    text-align: center;

    li {
        font-size: 14px;
        text-align: left;
    }
}

.media-body {
    color: #8c989e;

    ul {
        margin-top: 15px;
        padding-left: 0;
    }

    li {
        list-style: none;
        font-size: 15px;
        margin-bottom: 5px;

        span {
            padding-right: 5px;
        }
    }
}

.checkbox label {
    font-size: 14px;
}

.list-group {
    @include transition(all .5s ease);

    .list-group-item {
        background: #ffffff;
        color: #222222;

        &:hover {
            color: #ffffff;
            background-color: rgb(231, 76, 60);
            border-color: rgb(231, 76, 60);
        }

        &:hover .list-group-item-heading {
            color: #ffffff;
        }
    }

    .list-group-item.active {
        background-color: rgb(231, 76, 60);
        border-color: rgb(231, 76, 60);
        color: #ffffff;
    }

    .badge {
        background-color: rgb(231, 76, 60);
        font-weight: normal;
        font-size: 14px;
    }
}

.pagination {
    border-radius: 0;

    li a {
        border: none;
        padding: 6px 14px;

        &:first-child {
            border-radius: 0;
        }
    }
}

.tooltip {
    .tooltip-inner {
        width: 150px;
    }
}

.popover {
    box-shadow: none;

    .popover-content {
        font-size: 16px;
    }
}


/* Navigation */
.main-navigation {
    background: #222222;
    border-bottom: none;

    .navbar-brand {
        font-weight: bold;
        color: #e74c3c;
    }

    .navbar-nav > li a {
        color: #fff;

        &:hover {
            color: #e74c3c;
        }
    }

    .dropdown ul li a {
        color: #222;
        font-size: 16px;
    }

    .dropdown-menu {
        box-shadow: none;
    }
}


/* Footer */
.footer {
    padding: 40px 0;
    margin-top: 25px;
    color: #777777;
    text-align: center;
    clear: both;

    .footer-links {
        padding-left: 0;
        margin-top: 20px;

        li {
            display: inline;
            padding: 0 2px;
        }

        a {
            color: #8c989e;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/* Section division */
.section-title {
    color: #111111;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}


/* Sidebar */
.sidebar {
    padding-left: 15px;

    .sidebar-wrapper {
        color: #8c989e;
        margin-bottom: 30px;

        .stats {
            background-color: #ffffff;
            padding: 20px;

            h1 {
                margin: 0 0 10px;
                font-weight: normal;
                color: #E74C3C;
            }
        }

        .sidebar-header {
            display: block;
            font-size: 18px;
            text-align: left;
            color: #27AE60;

            span {
                padding-right: 10px;
            }
        }

        .list-group {
            .list-group-item {
                .list-group-item-text {
                    font-size: 12px;

                    span {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}


/* Select2 customizations */
.select2-container {
    font-size: 16px;

    .select2-choices {
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid transparent;
    }

    .select2-search-choice, .select2-search-field input[type=text] {
        font-family: "source-sans-pro", sans-serif;
    }
}

.select2-container-multi.select2-container-active .select2-choices {
    box-shadow: none;
    border-color: transparent;
}

.select2-drop {
    border: 1px solid #dbd9d9;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: none;
}


/* Search form */
#search-form {
    margin: 20px 0;

    .form-control {
        color: #384047;
        font-size: 16px;
        border: 1px solid #dbd9d9;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        box-shadow: none;
    }

    .popover {
        font-family: "source-sans-pro", sans-serif;
    }
}

.search-keyword {
    color: rgb(231, 76, 60);
}
