.tag-header {
    color: rgb(231, 76, 60);
    margin: 30px 0;
}

.tag-cloud {
    padding: 10px 0;

    .tag-cloud-item {
        font-size: 14px;
        float: left;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        color: #ffffff;
        background-color: #E74C3C;
        border-radius: 4px;
        transition: all .5s ease;

        &:hover {
            color: #E74C3C;
            background-color: #ffffff;
        }
    }
}
