.tag-header {
    color: rgb(231, 76, 60);
    margin: 30px 0;
}

.tag-cloud {
    padding: 10px 0;

    .tag-cloud-item {
        font-size: 13px;
        float: left;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        color: #111111;
        background-color: #dff0d8;
        border-radius: 4px;
        transition: all .5s ease;

        &:hover, &:active {
            background-color: darken(#dff0d8, 25%);
        }
    }
}