.user-sidebar {
    .thumbnail {
        border: none;
        border-radius: 0;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        text-align: center;

        .caption {
            padding: 0;

            a, .user-name {
                color: #333333;

                &:hover {
                    color: rgb(231, 76, 60);
                }
            }
        }

        .label {
            font-size: 13px;
            font-weight: normal;
        }

        ul {
            margin-top: 15px;
            padding-left: 0;
        }

        li {
            list-style: none;
            font-size: 15px;
            margin-bottom: 5px;

            span {
                padding-right: 5px;
            }
        }
    }
}

.users-list {
    .user-block {
        text-align: center;
        margin-bottom: 2em;

        .label {
            font-weight: normal;
            font-size: 13px;
        }

        .user-name {
            color: #222222;

            &:hover {
                color: #e74c3c;
            }
        }

        h5 {
            color: #8c989e;
        }
    }
}

.user-form {
    button[type=submit] {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 3px;
    }
}

#follow_form {
    text-align: center;
    margin-bottom: 10px;
}

.user-activities {
    .panel {
        font-size: 16px;

        .panel-footer {
            font-size: 14px;
        }
    }
}
