.user-sidebar {
    .thumbnail {
        border: none;
        border-radius: 4px;
        padding: 20px;
        text-align: center;

        .caption {
            padding: 0;

            a, .user-name {
                color: #333333;

                &:hover {
                    color: rgb(231, 76, 60);
                }
            }
        }

        .label {
            font-size: 13px;
            font-weight: normal;
        }

        ul {
            margin-top: 15px;
            padding-left: 0;
        }

        li {
            list-style: none;
            font-size: 16px;
            margin-bottom: 5px;

            span {
                padding-right: 5px;
            }
        }
    }
}

.users-list {
    .list-group {
        text-align: center;

        img {
            margin-bottom: 5px;
            display: inline-block;
            max-width: 100%;
            height: auto;
            padding: 4px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .list-group-item-text {
            .label {
                 font-weight: normal;
            }
        }
    }
}

.user-form {
    button[type=submit] {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 3px;
    }
}

#follow_form {
    text-align: center;
    margin-bottom: 10px;
}

.activities {
    .author {
        color: #e74c3c;

        &:hover {
            color: #4472B9;
        }
    }

    .user-activities {
        .panel {
            font-size: 16px;
            border: none;
            box-shadow: none;

            .panel-heading {
                border-bottom: none;
            }

            .panel-footer {
                font-size: 14px;
                border-top: none;
            }

            .article-author {
                color: #31a480;
                font-weight: 600;

                &:hover {
                    color: #90dec6;
                }
            }

            .article-title {
                color: #54588a;
                font-weight: 600;

                &:hover {
                    color: #abaecc;
                }
            }
        }
    }
}

